# Flask-specific variables

SECRET_KEY = "XXX"
DEBUG=False  # Set to True in development

# API-specific
API_500PX_KEY = 'XXX'
API_500PX_SECRET = 'XXX'
API_RIJKS = 'XXX'
FLICKR_KEY = 'XXX'
FLICKR_SECRET = 'XXX'

# Database-specific
SQLALCHEMY_DATABASE_URI = 'postgresql://XXX:XXX@localhost:5432/openledger'
SQLALCHEMY_TRACK_MODIFICATIONS = False
