flickrapi
Jinja2
oauthlib
psycopg2
rdflib
requests
requests-oauthlib
boto3
elasticsearch-dsl>=5.0.0,<6.0.0
aws-requests-auth
django==1.12
django-cas-ng
djangorestframework
django-filter
newrelic
wsgi-basic-auth
python-akismet
wordfilter
