flickrapi
Jinja2
oauthlib
psycopg2
rdflib
requests
requests-oauthlib
boto3
elasticsearch-dsl>=5.0.0,<6.0.0
aws-requests-auth
django==2.0.1
git+git://github.com/mingchen/django-cas-ng.git@5a370af14b8023bda0ae34af001228f15ba86f51
djangorestframework
django-filter
newrelic
wsgi-basic-auth
python-akismet
wordfilter
