flickrapi
Jinja2
oauthlib
psycopg2
rdflib
requests
requests-oauthlib
boto3
elasticsearch-dsl>=2.0.0,<3.0.0
aws-requests-auth
django
django-cas-ng
djangorestframework
django-filter
newrelic
wsgi-basic-auth
