{% macro add(image) -%}
<div class="add-to-list-container">
  <button onClick="openledger.list.addToListForm(event)" class="button success">Save to a List</button>
  <form class="add-to-list animated" action="#" method="GET">
    <input type="text" name="title" value="" autocomplete="off"  placeholder="Name your list" size="40"/>
    <div class="autocomplete"></div>
    <input type="hidden" name="identifier" value="{{ image.identifier }}" />
  </form>
  <div class="add-to-list-response"></div>
</div>
{% endmacro -%}
