{% macro add(identifier, size) -%}
<div class="add-to-list-container">
  <button onClick="openledger.list.addToListForm(event)"
      {% if size == "large" %}class="button success">Save to a List</button>

      {% else %}
      class="secondary button tiny">Save to List</button>
      {% endif %}
  <form class="add-to-list animated" action="#" method="GET">
    <input type="text" name="title" value="" autocomplete="off"  placeholder="New or existing list" size="40"/>
    <div class="autocomplete"></div>
    <input type="hidden" name="identifier" value="{{ identifier }}" />
  </form>
  <div class="add-to-list-response"></div>
</div>
{% endmacro -%}
