
{% macro paginate(page, pages, query, provider) -%}
    <div class="row column text-center">
      <ul class="pagination" role="navigation" aria-label="Pagination">

        <li class="pagination-previous {{ "disabled" if page == 1 }}">
          {% if page > 1 %}
            <a aria-label="Previous page" href="/provider/{{ provider }}?search={{ query|urlencode }}&page={{ page - 1 }}">Previous</a>
          {% else %}
            Previous
          {% endif %}
        </li>

        <li class="pagination-next {{ "disabled" if page >= pages }}">
          {% if page < pages %}
          <a aria-label="Next page" href="/provider/{{ provider }}?search={{ query|urlencode }}&page={{ page + 1 }}">Next</a>
          {% else %}
            Next
          {% endif %}
        </li>
      </ul>
    </div>

{%- endmacro %}
