
{% macro paginate(page, pages, search_data, provider) -%}
    <div class="row column text-center">
      <ul class="pagination" role="navigation" aria-label="Pagination">

        <li class="pagination-previous {{ "disabled" if page == 1 }}">
          {% if page > 1 %}
            <a aria-label="Previous page" href="{{ url_for('by_provider', provider=provider, page=search_data.page-1, per_page=search_data.per_page, search=search_data.search) }}">Previous</a>
          {% else %}
            Previous
          {% endif %}
        </li>

        <li class="pagination-next {{ "disabled" if page >= pages }}">
          {% if page < pages %}
          <a aria-label="Next page" href="{{ url_for('by_provider', provider=provider, page=search_data.page+1, per_page=search_data.per_page, search=search_data.search) }}">Next</a>
          {% else %}
            Next
          {% endif %}
        </li>
      </ul>
    </div>

{%- endmacro %}
