<form method="GET" action="{{ endpoint }}">
  <div class="callout primary">
    <div class="row">
      <div class="column medium-6">
        {{ form.search.label }} {{ form.search }}
      </div>
      <div class="column medium-6">
        <fieldset>
          <legend>
            I want something I can...
          </legend>
          {{ form.licenses }}
          <input type="submit" class="button" value="GO" />
        </fieldset>
      </div>
    </div>
    <div class="row">
        <div class="column">
          <p>Searches to try: <a href="{{ endpoint }}?search=paris&search_fields=title&search_fields=tags">paris</a> | <a href="{{ endpoint }}?search=sunset&search_fields=title&search_fields=tags">sunset</a> | <a href="{{ endpoint }}?search=open&search_fields=title&search_fields=tags">open</a> </p>
        </div>
        {% if endpoint.endswith('search') %}
        <div class="column">
          <fieldset>
            <legend style="margin-right: 1rem">
              Search within:
            </legend>
            {{ form.search_fields }}
          </fieldset>
        </div>
        {% endif %}
    </div>
  </form>
</div>
