/* List detail page */
.list-detail {
  margin-top: 2rem;

  .list-description {
    font-size: 1.4rem;
    border-left: 1px solid rgb(200,200,200);
    margin: 2rem 0;
    padding: 1rem;
  }

  .list-public {
    margin: 2rem 0;
    font-style: italic;
  }
}

/* List creation features */
.add-to-list-container {

  .add-to-list {
    position: absolute;
    width: 400px;
    display: none;
    z-index: 99;

    input {
      margin: 0;
    }
  }
  .add-to-list-response {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 10px 36px -9px rgba(0,0,0,0.58);
    padding: 20px;
    min-width: 400px;
    z-index: 1;
  }
}

/* Add-to-list from results page */
.image-result {

  .add-to-list-container {
    display: inline-block;
    vertical-align: middle;
  }
  .add-to-list-container button.secondary {
    background: rgb(230,230,230);
    color: rgb(10,10,10);
    margin: 0;
  }

  .add-to-list-container button.secondary:hover {
    background: #3adb76;
    color: white;
  }

  .add-to-list-container {
    position: relative;
  }
  .add-to-list {
    position: absolute;
      left: -10px;
    padding: 10px;
    background: white;
    box-shadow: 0px 10px 36px -9px rgba(0,0,0,0.58);
  }
}

/* Autocomplete */
.autocomplete {
  position: relative;
  width: 100%;

  li {
    list-style-type: none;
    border-bottom: 1px solid rgb(230,230,230);
    padding: .5rem;
    color: rgb(150,150,150);

    &.hover {
      background-color: rgb(230,230,230);
    }
  }
}
