
figure {
  margin: 0;
}

figcaption {
  text-align: center;
  max-width: 200px;
  font-size: .75rem;
}

.figure-wrapper {
  max-height: 200px;
  overflow: hidden;
}
.figure-metadata {
  margin-top: .25rem;
}
