{% macro license(l, with_cc=False) -%}
{% if with_cc %}
  <img src="{{ static ('images/cc.svg') }}" alt="Creative Commons" title="Creative Commons" class="license-logo" />
{% endif %}
{# Temporary fix for data bug #112 #}
{% for license in l.split('-') %}
  {% if license.startswith("('") %}
    {% set license = license.replace("('", "").replace("',)", "") %}
  {% endif %}
  <img src="{{ static ('images/' + license.lower() + '.svg') }}" alt="{{ license.upper() }}" title="{{ license }}" class="license-logo" />
{% endfor %}

{%- endmacro %}
