<form method="GET" action="{{ endpoint }}" class="search-form">
  <div class="row">
    <div class="column medium-8 small-12">


        <p>
          Find images to use or remix from organizations and individuals
          supporting open content:
        </p>

      <div class="search-field-container">
        <i class="fi-magnifying-glass"></i>
        {{ form.search }}
        {{ form.page }}
        {% if endpoint.endswith('provider-apis') %}
          {{ form.providers }}
        {% endif %}
        {{ form.per_page }}
        <input type="submit" class="button" value="GO" />
      </div>
    </div>
    <div class="column search-filters small-12 medium-4">

      <div class="row">

        <div class="column shrink search-filters-license">
          <fieldset>
            <legend>
              Find images I can...
            </legend>
            {{ form.licenses }}
          </fieldset>
        </div>
        <div class="column shrink">
          {% if not endpoint.endswith('provider-apis') %}
            <fieldset>
              <legend style="margin-right: 1rem">
                Search within:
              </legend>
              {{ form.search_fields }}
            </fieldset>
          </div>
          <div class="column shrink">
            <fieldset>
              <legend style="margin-right: 1rem">
                Find these types of works:
              </legend>
              {{ form.work_types }}
            </fieldset>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</form>
