<form method="GET" action="{{ endpoint }}" class="search-form"
      onSubmit="openledger.form.resetSearchOnSubmit(this)">

  <div class="row align-center">
    <div class="column">
      <div class="row">
        <img class="logo-black" src="{{ static('images/cc.svg') }}" alt="CC" />
          <div class="column">
            <img src="{{ static('images/title-search.svg') }}" alt="Search" width="200"/>
            <div class="search-field-container">
              <i class="fi-magnifying-glass"></i>
              {{ form.search }}
              {{ form.page }}
              <input type="submit" class="button" value="GO" />
            </div>

          </div>
      </div>
      <p>
        Use this prototype to find images that you can use and remix across several open archives.
        Give us your feedback to help us design a front door to the commons.
      </p>

    </div>
  </div>


  <h4>Filters</h4>

  <div class="row search-filters">
    <div class="column search-filters-license small-6">
      <fieldset>
        <legend>
          Find images I can...
        </legend>
        {{ form.licenses }}
      </fieldset>
      <fieldset style="margin-top: .2rem">
        <legend style="margin-right: 1rem">
          Search within:
          </legend>
          {{ form.search_fields }}
        </fieldset>
      <fieldset style="margin-top: .2rem">
      <legend style="margin-right: 1rem">
        Results per page:
      </legend>
       {{ form.per_page }}
      </fieldset>
    </div>
    <div class="column small-6 search-collections">
      <fieldset>
        <legend >
          Search from these collections:
        </legend>
	{% for work_type in work_types %}
		<div class="work-type">
			{{ form.work_types[loop.index-1] }}
			<ul>
				{% for provider in form.providers %}
					{% if provider.data.value in work_types[work_type] %}
					<li>
						{{ form.providers[loop.index-1] }}
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
      </fieldset>
    </div>
  </div>
</form>
