packages:
  yum:
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    python34-devel: []

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "openledger/static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "wsgi.py"

commands:
  01_node_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
      command: 'yum install -y nodejs --enablerepo=epel'
  02_npm_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
      command: 'curl -L http://npmjs.org/install.sh | sh'
  03_node_update:
      cwd: /tmp
      test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
      command: 'npm install -g n && n stable'

container_commands:
  01_npm_build:
    command: 'npm install'
  02_webpack_build:
    command: 'NODE_ENV=production node_modules/.bin/webpack'
  03_database_migrate:
    command: 'source /opt/python/current/env && /opt/python/run/venv/bin/python -m openledger.models db upgrade'
