packages:
  yum:
    python34-devel: []

#files:
#    "/etc/httpd/conf.d/ssl_rewrite.conf":
#        mode: "000644"
#        owner: root
#        group: root
#        content: |
#            RewriteEngine On
#            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
#            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
#            </If>

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "deploy/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "openledger/wsgi.py"
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "openledger.settings"

commands:
  01_node_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
      command: 'yum install -y nodejs --enablerepo=epel'
  02_npm_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
      command: 'curl -L http://npmjs.org/install.sh | sh'
  03_node_update:
      cwd: /tmp
      test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
      command: 'npm install -g n && n stable'

container_commands:
  00_create_dir:
    command: 'mkdir -p /var/log/app-logs'
  01_change_permissions:
    command: 'chmod g+s /var/log/app-logs'
  02_change_owner:
    command: 'chown wsgi:wsgi /var/log/app-logs'
  03_touch_file:
    command: 'touch /var/log/app-logs/app.log'
  04_change_file_owner:
      command: 'chown wsgi:wsgi /var/log/app-logs/app.log'
  05_npm_build:
    command: 'npm install'
  06_webpack_build:
    command: 'NODE_ENV=production node_modules/.bin/webpack'
  07_database_migrate:
    command: 'django-admin.py migrate'
    leader_only: true
  08_database_cache:
    command: 'django-admin.py createcachetable'
    leader_only: true
  09_collect_static:
    command: 'django-admin.py collectstatic --noinput --clear'
