option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "openledger/static/"

commands:
  01_node_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
      command: 'yum install -y nodejs --enablerepo=epel'
  02_npm_install:
      cwd: /tmp
      test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
      command: 'curl -L http://npmjs.org/install.sh | sh'
  03_node_update:
      cwd: /tmp
      test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
      command: 'npm install -g n && n stable'

container_commands:
  01_npm_build:
    command: 'npm install'
  02_webpack_build:
    command: 'NODE_ENV=production node_modules/.bin/webpack'
