
figure {
  margin: 0;
}

.figure-wrapper {
  max-height: 200px;
  overflow: hidden;
}


figcaption {
  text-align: center;
  max-width: 200px;
  font-size: .75rem;
}

h5 {
  margin-top: 4rem;
}

legend, ul#licenses, ul#licenses li, ul#search_fields, ul#search_fields li {
  display: inline-block;
  margin: 0;
  line-height: 1rem;
}
ul#licenses li, ul#search_fields li {
  font-size: 0.5rem;
}
ul#licenses input, ul#search_fields input {
  margin: 0
}
.hero {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 80%, rgba(233,233,233,1) 100%);
  border: none;
  border-bottom: 1px solid rgb(200,200,200);
  padding: 2rem 0 2rem 0;
}
.metadata h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

.metadata ul {
  list-style-type: none;
  margin: 0;
}
.metadata li {
  line-height: 2rem;
}

footer.callout {
  margin: 20rem 0 0 0;
  width: 100%;
}
.attribution-button {
  width: 200px;
}

/* List features */
.add-to-list {
  position: absolute;
  width: 400px;
  display: none;
  z-index: 99;
}
.add-to-list input {
  margin: 0;
}
.add-to-list-response {
  display: none;
}

/* Autocomplete */
.autocomplete {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: white;
}

.autocomplete li {
  list-style-type: none;
  border-bottom: 1px solid rgb(230,230,230);
  padding: .5rem;
  color: rgb(150,150,150);
}
