<!doctype html>
<title>Open Ledger prototype</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='js/build/openledger.js') }}"></script>
{% block head %}{% endblock head %}

<body>
  <nav class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="{{ url_for('index')}}">Open Ledger Search Prototype</a></li>
        <li>
          <a href="{{ url_for('index')}}">Home</a></a>
        </li>
        <li><a href="{{ url_for('openimages')}}">Open Images source</a></li>
      </ul>
  </nav>

  {% block body %}{% endblock %}

  <footer class="callout secondary">
    <p>
      This is a prototype of the <a href="https://creativecommons.org/2016/07/15/meeting-debrief-next-steps-challenge-attribution-view-source-3d-printing/">Open Ledger</a>, aggregating data from publicly available repositories of open content.
    </p>
    <p>
      <a href="https://github.com/creativecommons/open-ledger/">Github repository</a>
    </p>
  </footer>

</body>
