{% extends "base.html" %}
{% import "includes/license-logo.html" as license_logo %}
{% import "includes/lists.html" as lists %}

{% block body %}

<div class="callout hero">
    <div class="column text-center">


    <figure>
      <img src="{{ url }}"  />
    </figure>
  </div>
</div>
<div class="row">
  <div class="column metadata">
    <h3>About this photo</h3>    <ul>
      <li>
        <h4>Title</h4>
        <span>{{ title }}</span>
      </li>
      <li>
        <h4>Creator</h4>
        <span>
          {% if creator_url %}
            <a href="{{ creator_url }}">{{ creator }}</a>
          {% else %}
            {{ creator }}
          {% endif %}
        </span>
      </li>
      <li>
        <h4>License</h4>
        <a href="{{ license_url }}">{{ license_logo.license(license) }}</a>
      </li>
      <li>
        <a href="{{ provider_url }}">Original source</a>
      </li>
    </ul>
    {% if image and image.tags %}
      {% for tag in image.tags %}
        <span class="secondary label">{{ tag.name }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="column">
    <h3>How to use this work</h3>
    <blockquote class="attribution">
      <a href="{{ provider_url }}">“{{ title }}”</a> by
      <i>
        {% if creator_url %}
          <a href="{{ creator_url }}">{{ creator }}</a>
        {% else %}
          {{ creator }}
        {% endif %}
      </i>

      is licensed under
      <a href="{{ license_url }}">CC {{ license|upper }} {{ license_version }}</a>
    </blockquote>
    <button class="attribution-button button clipboard-sel-text primary" data-clipboard-target=".attribution">
      Copy attribution as text
    </button>
    <button class="attribution-button button clipboard-sel-html secondary">
      Copy attribution as HTML
    </button>

    {% if image %} {# Local objects only for now #}
      {{ lists.add(image) }}
    {% endif %}
  </div>



  </div>
</div>

{% endblock body %}

{% block head %}
{% set page_title = title + " via the Creative Commons Open Ledger" %}
{% set description = "Openly licensed image '" + title + "'" %}
{% set page_url = "https://openledger.creativecommons.org/" + request.path %}

<!-— facebook open graph tags -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page_url }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ url }}" />

<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" value="creativecommons.org" />
<meta name="twitter:title" value="{{ page_title }}" />
<meta name="twitter:description" value="{{ description }}" />
<meta name="twitter:image" content="{{ url }}" />
<meta name="twitter:url" value="{{ page_url }}" />
<meta name="twitter:label1" value="Open license" />
<meta name="twitter:data1" value="{{ license|upper }}" />

{% endblock head %}
