<!doctype html>
<title>Open Ledger prototype</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<form method="GET" action="/">
  <div class="row" style="margin-top: 2em">
    <div class="column shrink">
      {{ form.search.label }}
    </div>
    <div class="column shrink">
      {{ form.search }}
    </div>
    <p>Searches to try: <a href="/?search=paris">paris</a> | <a href="/?search=sunset">sunset</a> | <a href="?search=open">open</a> </p>
  </div>

</form>

{% if results %}
<div class="row column results">
  <h2>Results for {{ search }} </h2>

  <!-- Flickr -->
  <h3>{{ results.flickr.photos.total }} photos from Flickr</h3>

  <div class="row">
    {% for result in results.flickr.photos.photo %}
    <div class="shrink columns">
      <!-- https://www.flickr.com/photos/{user-id}/{photo-id} - individual photo -->
      <figure>
        <div class="figure-wrapper">
          <a href="https://www.flickr.com/photos/{{ result.owner }}/{{ result.id }}">
            <img src="{{ result.url_m }}" class="thumbnail" width="200" />
          </a>
        </div>
        <figcaption>
          {{ result.ownername }} | {{ licenses.flickr[result.license]}}
        </figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>

  <!-- 500px -->
  <h3>{{ results.fpx.total_items }} photos from 500px</h3>

  <div class="row">
    {% for result in results.fpx.photos %}
    <div class="shrink columns">
      <figure>
        <div class="figure-wrapper">
          <a href="https://500px.com/{{ result.url }}">
            <img src="{{ result.images.0.https_url }}" class="thumbnail" width="200" />
          </a>
        </div>
        <figcaption>
          {{ result.user.username }} | {{ licenses.fpx[result.license_type]}}
        </figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>

  <!-- rijksmuseum -->
  <h3>{{ results.rijks.count }} photos from Rijksmuseum</h3>
  <div class="row">
    {% for result in results.rijks.artObjects %}
    <div class="shrink columns">
      <figure>
        <div class="figure-wrapper">
          <a href="{{ result.links.web }}">
            <img src="{{ result.webImage.url }}" class="thumbnail" width="200">
          </a>
        </div>
        <figcaption>
          {{ result.title }} | CC0
        </figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>


  <!-- Wikimedia -->
  {% if results.wikimedia %}
  <h3>{{ results.wikimedia.results.bindings|length }} photos from Wikimedia Commons</h3>
  <div class="row">
    {% for result in results.wikimedia.results.bindings %}
    <div class="shrink columns">
      <figure>
        <div class="figure-wrapper">
          <a href="{{ result.item.value }}">
            <img src="{{ result.pic.value }}" class="thumbnail" width="200">
          </a>
        </div>
        <figcaption>
          {{ result.itemLabel.value }} | CC0
        </figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endif %}
