{% import "includes/pagination.html" as pagination %}
{% import "includes/image-result.html" as image_result %}

{% extends "base.html" %}

{% block body %}

<div class="row column" style="margin-top: 1rem">
  <h3>Partner API aggregation</h3>
  <p>
    Images displayed here are provided directly by Flickr, 500px, Rijksmuseum, and Wikimedia Commons.
  </p>
</div>

{% with %}
  {% set endpoint = url_for('index') %}
  {% include "includes/search-form.html" %}
{% endwith %}

{% if results %}
  <div class="row column results">

    <!-- Flickr -->
    {% if 'flickr' in results and results.flickr.photos.total > 0 %}
      <h5>Page {{ results.flickr.photos.page }} of {{ results.flickr.photos.pages }} page{{ results.flickr.photos.pages|pluralize }} from Flickr</h5>

      {{ pagination.paginate_api(results.flickr.photos.page, results.flickr.photos.pages, search_data, 'flickr')}}

      <div class="row">
        {% for result in results.flickr.photos.photo %}

          {% set creator = result.ownername %}
          {% set image_url = result.url %}
          {% set orig_license = result.license|int %}
          {% set license = license_map.flickr.get(orig_license, "").lower() %}
          {% set provider_url = "https://www.flickr.com/photos/" + result.owner + "/" + result.id %}
          {% set thumbnail = result.thumbnail %}
          {% set title = result.title %}
          {% set provider = "flickr" %}
          {% set detail_url = url_for('by_image', url=image_url, provider_url=provider_url, license=license, creator=creator, title=title, provider=provider) %}

          {{ image_result.show(detail_url, thumbnail, creator, title, license) }}

        {% endfor %}

      </div>

     {{ pagination.paginate_api(results.flickr.photos.page, results.flickr.photos.pages, search_data, 'flickr')}}

    {% endif %}

    <!-- 500px -->
    {% if 'fpx' in results and results.fpx.total_items > 0 %}
      <h5>Page {{ results.fpx.current_page }} of {{ results.fpx.total_pages }} page{{ results.fpx.total_pages|pluralize }} from 500px</h5>

      {{ pagination.paginate_api(results.fpx.current_page, results.fpx.total_pages, search_data, 'fpx')}}

      <div class="row">
        {% for result in results.fpx.photos %}
          {% set creator = result.user.username %}
          {% set license = license_map.fpx.get(result.license_type, "").lower() %}
          {% set provider_url = "https://500px.com/" + result.url %}
          {% set title = result.name %}
          {% set url = result.images.1.https_url %}
          {% set thumbnail = result.images.0.https_url %}
          {% set provider = "fpx" %}
          {% set detail_url = url_for('by_image', url=url, provider_url=provider_url, license=license, creator=creator, title=title, provider=provider) %}

          {{ image_result.show(detail_url, thumbnail, creator, title, license) }}
        {% endfor %}
      </div>

      {{ pagination.paginate_api(results.fpx.current_page, results.fpx.total_pages, search_data, 'fpx')}}

    {% endif %}

    <!-- rijksmuseum -->
    {% if 'rijks' in results and results.rijks.count > 0 %}
    <h5>Page {{ results.rijks.page }} of {{ results.rijks.pages }} page{{ results.rijks.pages|pluralize }} from Rijksmuseum</h5>

     {{ pagination.paginate_api(results.rijks.page, results.rijks.pages, search_data, 'rijks')}}

      <div class="row">
        {% for result in results.rijks.artObjects %}
          {% set license = "cc0" %}
          {% set creator = result.principalOrFirstMaker %}
          {% set url = result.webImage.url %}
          {% set title = result.title %}
          {% set provider_url = result.links.web %}
          {% set thumbnail = result.webImage.url %}
          {% set provider = "rijks" %}

          {% set detail_url = url_for('by_image', url=url, provider_url=provider_url, license=license, creator=creator, title=title, provider=provider) %}

          {{ image_result.show(detail_url, thumbnail, creator, title, license) }}
        {% endfor %}
      </div>

     {{ pagination.paginate_api(results.rijks.page, results.rijks.pages, search_data, 'rijks')}}

    {% endif %}

    <!-- Wikimedia -->
    {% if 'wikimedia' in results and results.wikimedia.total > 0 %}
    <h5>Page {{ results.wikimedia.page }} of {{ results.wikimedia.pages }} page{{ results.wikimedia.pages|pluralize }} from Wikimedia Commons</h5>

     {{ pagination.paginate_api(results.wikimedia.page, results.wikimedia.pages, search_data, 'wikimedia')}}

     <div class="row">
      {% for result in results.wikimedia.results %}
        {% set license = "cc0" %}
        {% set creator = "" %}
        {% set url = result.pic.value %}
        {% set title = result.itemLabel.value %}
        {% set provider_url = result.item.value %}
        {% set thumbnail = result.pic.value %}
        {% set provider = "wikimedia" %}

        {% set detail_url = url_for('by_image', url=url, provider_url=provider_url, license=license, creator=creator, title=title, provider=provider) %}

        {{ image_result.show(detail_url, thumbnail, creator, title, license) }}

      {% endfor %}
     </div>

     {{ pagination.paginate_api(results.wikimedia.page, results.wikimedia.pages, search_data, 'wikimedia')}}
    {% endif %}
  </div>
{% endif %}

{% endblock body %}
