{% import "includes/image-result.html" as image_result %}

{% extends "base.html" %}

{% block body %}

<div class="row column list-detail">

  <form action="{{ url_for('list-view', slug=lst.slug) }}" method="POST">
     {{ form.csrf_token }}

    <h2 class="t-list-title">{{ lst.title }}
      <div class="form-field-hidden">
        {{ form.title }}
      </div>
    </h2>

    {% if lst.description %}
    <div class="list-description">
      {{ lst.description }}
      <div class="form-field-hidden">
        {{ form.description }}
      </div>
    </div>
    {% else %}
    <h4>Add a description</h4>
      {{ form.description }}
    {% endif %}

    <div class="list-is-public">
      List is visible to the public? {{ form.is_public }}
    </div>


    <input type="submit" value="Update" class="button">

  </form>

  <div class="row">
  {% for image in images %}
    {% set detail_url = url_for('detail', identifier=image.identifier) %}
    {{ image_result.show(detail_url, image.url, image.creator, image.creator_url, image.title, image.license) }}
  {% endfor %}
  </div>


</div>



{% endblock body %}
