{% import "includes/pagination.html" as pagination %}
{% import "includes/image-result.html" as image_result %}

{% extends "base.html" %}

{% block body %}

<div class="row column" style="margin-top: 1rem">
  <h3>Open Images dataset</h3>
  <p>
    Images displayed here are sourced from the 9 million <a href="https://github.com/openimages/dataset">Open Images dataset</a>.
      Metadata is provided by Google Inc. under an <a href="https://creativecommons.org/licenses/by/4.0/">Attributions 4.0</a> license.
  </p>
</div>

{% with %}
  {% set endpoint = url_for('openimages') %}
  {% include "includes/search-form.html" %}
{% endwith %}

{% if results %}
<div class="row column results">

  <h5>Page {{ results.page }} of {{ results.total }} photo{{ results.total|pluralize }} from Open Images</h5>
  <div class="row column text-center">
    <ul class="pagination" role="navigation" aria-label="Pagination">

      <li class="pagination-previous {{ "disabled" if results.page == 1 }}">
        {% if results.page > 1 %}
          <a aria-label="Previous page" href="{{ url_for('openimages', page=search_data.page-1, per_page=search_data.per_page, search=search_data.search) }}">Previous</a>
        {% else %}
          Previous
        {% endif %}
      </li>

      <li class="pagination-next {{ "disabled" if results.page >= results.pages }}">
        {% if results.page < results.pages %}
        <a aria-label="Next page" href="{{ url_for('openimages', page=search_data.page+1, per_page=search_data.per_page, search=search_data.search) }}">Next</a>
        {% else %}
          Next
        {% endif %}
      </li>
    </ul>
  </div>


    <div class="row">
      {% for result in results.items %}
      {% set creator = result.author %}
      {% set license = "by" %}
      {% set provider_url = original_landing_url %}
      {% set title = result.title %}
      {% set url = result.image_url %}
      {% set thumbnail = result.image_url %}

      {{ image_result.show(detail_url, thumbnail, creator, title, license) }}

      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
