{% import "includes/pagination.html" as pagination %}
{% extends "base.html" %}

{% block body %}

<div class="row column" style="margin-top: 1rem">
  <h3>Open Images dataset</h3>
  <p>
    Images displayed here are sourced from the 9 million <a href="https://github.com/openimages/dataset">Open Images dataset</a>.
      Metadata is provided by Google Inc. under an <a href="https://creativecommons.org/licenses/by/4.0/">Attributions 4.0</a> license.
  </p>
</div>

{% with %}
  {% set endpoint = url_for('openimages') %}
  {% include "includes/search-form.html" %}
{% endwith %}

{% if results %}
<div class="row column results">

    <div class="row">
      {% for result in results %}
      <div class="shrink columns">
        <figure>
          <div class="figure-wrapper">
            <a href="{{ result.original_landing_url }}">
              <img src="{{ result.image_url }}" class="thumbnail" width="200" />
            </a>
          </div>
          <figcaption>
            {{ result.title }}
            <a href="{{ result.author_url }}">{{ result.author }}</a>
            <img src="{{ url_for('static', filename='images/by.png')}}" alt="CC-BY" title="CC-BY"/ />
          </figcaption>
        </figure>
      </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
