# API keys

# 500px
API_500PX_KEY = 'XXXX'
API_500PX_SECRET = 'XXXX'

# Rijksmuseum
API_RIJKS = 'XXXX'

# Flickr
FLICKR_KEY = 'XXXX'
FLICKR_SECRET = 'XXXX'

# Flask-internal (should vary by deployment)
SECRET_KEY = 'XXXX'
