# Example local.py for development
DEBUG = True
SECRET_KEY = 'CHANGEME'

CSRF_COOKIE_SECURE = False

API_500PX_KEY = 'CHANGEME'
API_500PX_SECRET = 'CHANGEME'
API_RIJKS = 'CHANGEME'
FLICKR_KEY = 'CHANGEME'
FLICKR_SECRET = 'CHANGEME'
AKISMET_KEY = 'CHANGEME'
EUROPEANA_API_KEY = 'CHANGEME'
EUROPEANA_PRIVATE_KEY = 'CHANGEME'

ELASTICSEARCH_URL = 'localhost'
ELASTICSEARCH_PORT = 9200

AWS_ACCESS_KEY_ID = 'CHANGEME'
AWS_SECRET_ACCESS_KEY = 'CHANGEME'


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'openledger',
        'USER': 'deploy',
        'PASSWORD': 'CHANGEME',
        'HOST': 'localhost',
        'PORT': 5432,
    }
}
ALLOWED_HOSTS = ['localhost']

LOGGING = {
     'version': 1,
     'disable_existing_loggers': False,
     'filters': {
         'require_debug_false': {
             '()': 'django.utils.log.RequireDebugFalse'
         }
     },
     'handlers': {
         'mail_admins': {
             'level': 'ERROR',
             'filters': ['require_debug_false'],
             'class': 'django.utils.log.AdminEmailHandler'
         },
         'console': {
             'level': 'DEBUG',
             'class': 'logging.StreamHandler'
         },
     },
     'loggers': {
         'django.request': {
             'handlers': ['mail_admins'],
             'level': 'ERROR',
             'propagate': True,
         },
         'imageledger': {
             'handlers': ['console'],
             'level': 'DEBUG'
         },

     }
}
from openledger.settings import INSTALLED_APPS, MIDDLEWARE

MIDDLEWARE += [
    'debug_toolbar.middleware.DebugToolbarMiddleware',
]
INSTALLED_APPS += [
    'debug_toolbar',
]
INTERNAL_IPS = ['127.0.0.1']

DEBUG_TOOLBAR_PANELS = [
    'ddt_request_history.panels.request_history.RequestHistoryPanel',  # Here it is
    'debug_toolbar.panels.versions.VersionsPanel',
    'debug_toolbar.panels.timer.TimerPanel',
    'debug_toolbar.panels.settings.SettingsPanel',
    'debug_toolbar.panels.headers.HeadersPanel',
    'debug_toolbar.panels.request.RequestPanel',
    'debug_toolbar.panels.sql.SQLPanel',
    'debug_toolbar.panels.templates.TemplatesPanel',
    'debug_toolbar.panels.staticfiles.StaticFilesPanel',
    'debug_toolbar.panels.cache.CachePanel',
    'debug_toolbar.panels.signals.SignalsPanel',
    'debug_toolbar.panels.logging.LoggingPanel',
    'debug_toolbar.panels.redirects.RedirectsPanel',
    'debug_toolbar.panels.profiling.ProfilingPanel',
]
DEBUG_TOOLBAR_CONFIG = {
    'SHOW_TOOLBAR_CALLBACK': 'ddt_request_history.panels.request_history.allow_ajax',
}

ENABLE_BASIC_AUTH = False
