
.metadata h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

.metadata ul {
  list-style-type: none;
  margin: 0;
}
.metadata li {
  line-height: 2rem;
}

.attribution-button {
  width: 200px;
}

a.license-link, a.license-link:hover {
  text-decoration: none;
}
