footer {

  box-shadow: 0 0 10px 0 rgba(0,0,0,.8);
  background-color: $dark-gray;
  color: $gray;
  font-size: 14px;
  line-height: 1.3em;
  width: 100%;
  padding: 25px 0;
  margin-top: 25px;

  ul, li {
    list-style-type: none;
    display: inline;
    margin: 0;
  }
  a {
    color: $gray;
  }
  .openledger-info, .license-info {
    font-size: 12px;
    line-height: 18px;
    a {
      text-decoration: underline;
    }
    .license-link {
      text-decoration: none;
    }
  }
  li {
    padding: 0 .5rem 0 0;
    &:not(:first-child) {
      padding: 0 .5rem;
      border-left: 1px solid $gray;
    }
  }
  .custom-logo {
    margin-bottom: 2rem;
  }
  .contact-info {
    h6 {
      font-size: 18px;
      font-weight: bold;
      line-height: 19.5px;
      a {
        color: $white;
      }
    }
    a.mail, a.tel {
      color: $cyan;
    }
  }
  @media screen and (max-width: 39.9375em) {
    .contact-info {
      display: none;
    }
  }
  .footer-main {
    img {
      max-width: 90%;
      @media screen and (max-width: 39.9375em) {
        display: none;
      }
    }
    ul {
      margin-top: 2rem;
      display: block;
    }
  }
}
