.button {
  background-color: $cyan;
  &:hover {
      background-color: darken($cyan, 10%);
  }
  &.success {
    background-color: $green;
    &:hover {
      background-color: lighten($green, 10%);
    }
  }

}

.list-detail {
  &> form {
    input {
      display: none;
    }
    textarea {
      display: none;
    }
    label {
      display: none;
    }
  }
}


.search-form {
  margin-top: 1rem;
  border: none;
  ul, li {
    display: inline-block;
    margin: 0;
    line-height: 1rem;
    font-size: 0.5rem;
  }
  .search-filters-license {
    li {
      display: block;
    }
  }
  input {
    margin: 0
  }

  .search-filters {
    @include for-size(phone-only) {
      /* In small viewports add top-margin */
      margin-top: 1rem;
      .column, label {
        font-size: .8rem;
      }
      li {
        display: block;
      }
    }

    .column {
      margin-bottom: 1rem;
    }
    legend {
      text-transform: uppercase;
      font-size: smaller;
      margin: 0;
      padding: 0;
    }
  }

  .search-field-container {

    background: white;
    line-height: 1rem;
    height: 50px;

    input, i {
      border: 1px solid #cacaca;
      display: inline-block;
      height: 50px;
      float: left;
    }
    i {
      text-align: center;
      padding: 1rem;
      width: 50px;
      display: none;
      @include for-size(tablet-landscape-up) {
        display: inline-block;
      }
    }
    input[type=text] {
      width: 80%;
      font-size: 1rem;
      line-height: 1rem;
      box-shadow: none;
      margin: 0;
      padding: 0;
      @include for-size(tablet-landscape-up) {
        border-left: none;
      }
    }
    input[type=submit] {
      border-left: none;
      width: 50px;
      height: 50px;
      margin: 0;
    }
  }
}
