
.image-result {
  margin: 10px;
  width: 210px;
  &:hover {
    figcaption {
      display: block;
    }
  }

  button.tiny {
    font-size: 20px;
    padding: 3px;
    margin: 0 0 0 2px;
  }
  a, a:hover {
    text-decoration: none;
  }
}

figure {
  margin: 0;
  position: relative;
}

figcaption {

  padding: 10px 5px 5px 5px;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .title {
    text-align: center;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  display: none;
}

.figure-wrapper {
  max-height: 200px;
  overflow: hidden;
}
.figure-metadata {
  cursor: pointer;
}
.results {
  visibility: hidden;
}
.loading-spinner {
  position: absolute;
  top: 80%;
  left: 50%;
  display: none;
}

.grid {
  margin: 0 auto;
  .grid-item {
    margin: 0 auto 10px auto;
    width: 210px;
    &:hover {
      figcaption {
        display: block;
      }
    }
  }
}
