
figure {
  margin: 0;
  position: relative;
}

figcaption {

  padding: 10px 5px 5px 5px;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .title {
    text-align: center;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  display: none;
}

.figure-wrapper {
  max-height: 200px;
  overflow: hidden;
}
.figure-metadata {

}
.results {
  visibility: hidden;
}
.grid-item {
  width: 210px;
  margin-bottom: 10px;
  &:hover {
    figcaption {
      display: block;

    }
  }
}
