/* Tag creation features */

.add-to-tags-container {

  .add-tags {
    position: absolute;
    width: 400px;
    display: none;
    z-index: 99;

    input {
      margin: 0;
    }
  }
  .add-tags-response {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 10px 36px -9px rgba(0,0,0,0.58);
    padding: 20px;
    min-width: 400px;
    z-index: 1;
  }

}
/* Tag listing page */
.tag-iterator {
  margin-top: 2rem;

  .tag-iterable {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 1rem 0;

    .tag-description {
      text-size: smaller;
    }
    .tag-dates {
      font-size: smaller;
      font-style: italic;
    }
  }
}


.system-tags-container {
  h4 {
    margin-bottom: .5rem;
  }
  max-width: 70%;
}

.user-tags-header {
  margin-bottom: .5rem;
  a {
    font-size: 1rem;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.user-tags-container {
  max-width: 70%;
  .label {
    margin: 5px 5px 0 0;
    font-size: 1rem;
    &.fi-x:before {
      content: "\f217\00a0";
    }
  }
}
