/* Tag creation features */

.add-to-tags-container {

  .add-tags {
    position: absolute;
    width: 400px;
    display: none;
    z-index: 99;

    input {
      margin: 0;
    }
  }
  .add-tags-response {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 10px 36px -9px rgba(0,0,0,0.58);
    padding: 20px;
    min-width: 400px;
    z-index: 1;
  }

}

.system-tags-container {
  h4 {
    margin-bottom: .5rem;
  }
  max-width: 70%;
}

.user-tags-container {
  h4 {
    margin-bottom: .5rem;
  }
  max-width: 70%;
  .label {
    margin: 5px 5px 0 0;
    font-size: 1rem;
  }
}
