
/* Colors */
$white: rgb(255, 255, 255);
$black: rgb(20, 20, 20);
$cyan: rgb(4, 155, 206);
$orange-dark: rgb(236, 89, 47);
$green: rgb(1, 166, 53);
$dark-gray: rgb(43, 43, 43);
$gray:  rgb(153, 153, 153);

/* Other globals */
$footer-height: 200px;

@import 'base';
@import 'detail';
@import 'forms';
@import 'licenses';
@import 'lists';
@import 'tags';
@import 'favorite';
@import 'result';
@import 'nav';
@import 'footer';
