{% extends "base.html" %}

{% block body %}

<div class="row column medium-8 site-page about">


  <h2>About the Open Ledger</h2>

  <table>
    <tr>
      <th>
        Partner
      </th>
      <th>
        Number of works
      </th>
    </tr>
    {% for provider in providers %}
    <tr class="provider-{{ provider.display_name|lower }}">
      <td>
        {{ provider['display_name'] }}
      </td>
      <td>
        {{ provider['hits']}}
      </td>
    </tr>
    {% endfor %}
  </table>

  <p>
    There is no larger compendium of shared human knowledge and creativity than the Commons, including over 1.1 billion digital works available under CC licenses. Despite the tremendous growth of the Commons, and the widespread use of the CC licenses and public domain marks, there is no simple way to maximize use of, and engagement with, all of that content. There is no front door — no tool designed for the general public to facilitate discovery for the purpose of reuse and remix, to simplify the license terms, make attribution easy, or support curation, and crowdsourced metadata.
  </p>
  <p>
    Creative Commons’ “CC Search” project will develop and release an open online search and re-use tool that will allow high-quality content from the commons to surface more seamless and accessible. Our first prototype relies on open APIs and focuses on photos as its first media type. It is meant to elicit discussion and inform our development as we build out the full set of tools. “CC Search” will enable users to curate, tag, and remix that content. It will go beyond simple search to aggregate results from across the hundreds of public repositories into a single ledger, and also facilitate the use and re-use through tools like curated lists, saved searches, one- or no-click attribution, and provenance.
  </p>
</div>

{% endblock body %}
