{% import "includes/image-result.html" as image_result %}

{% extends "base.html" %}

{% block body %}
<div class="row column list-my-lists list-iterator">


  <h2>My Lists</h2>
  {% if object_list %}
    <p>
        Lists of images that you've collected:
    </p>

    {% for lst in object_list %}
      <div class="list-iterable">
        <h3 class="list-title">
          <a href="{{ lst.get_absolute_url() }}" title="Edit this List">{{ lst.title }}</a>
          <a href="{{ lst.get_absolute_url() }}" class="fi-page-edit" title="Edit this List"></a>
        </h3>
        <p class="list-dates">
          Created on {{ lst.created_on.strftime('%a, %d %b %Y') }}, last updated {{ lst.updated_on.strftime('%d %b %Y')}}
        </p>
        <p class="list-description">
          {{ lst.description or "" }}
        </p>
        <div class="row">
        {% for image in lst.images.all() %}
          {% set detail_url = url('detail', image.identifier) %}
          {% call image_result.show(detail_url, image, request) %}
            <form method="POST">
              <input type="hidden" name="identifier" value="{{ image.identifier }}" />
              <input type="hidden" name="slug" value="{{ lst.slug }}" />
              <button class="button alert tiny fi-page-delete"
                      title="Remove from List" alt="Remove from List"
                      onClick="openledger.list.deleteImageFromList(event)" />
            </form>
          {% endcall %}
        {% endfor %}
        </div>
      </div>

    {% endfor %}
 {% else %}
 <p>
   You have no lists at the moment. <a href="{{ url('index') }}">Search for images</a> and add them to lists to collect or share them with others.
 </p>
 {% endif %}
</div>

{% endblock body %}
