{% import "includes/image-result.html" as image_result %}

{% extends "base.html" %}

{% block body %}

<div class="row column list-detail">

  <form action="{{ url('my-list-update', object.slug) }}" method="POST" class="list-edit-form">
   {{ csrf_input }}
    <h2 class="list-title">
      <div class="form-readonly t-list-title">
        {{ object.title }}
        <a onClick="window.location.hash='#edit'" class="fi-page-edit" title="Edit this List"></a>
      </div>
      <label for="title">{{ form.title.label }}</label>
      {{ form.title }}
    </h2>

    <div class="list-description">
      <div class="form-readonly">
        {{ object.description or "No description provided"}}
      </div>
      <label for="description">{{ form.description.label }}</label>
      {{ form.description }}
      {{ form.description.errors }}
    </div>

    <div class="list-public">
      List is visible to the public?
      {{ form.is_public }}
      <span class="form-readonly">
        {{ "Yes" if object.is_public else "No"}}
      </span>
    </div>

    <input type="submit" value="Update" class="button">

  </form>

  <form action="{{ url('my-list-delete', object.slug) }}" method="POST" class="list-delete">
    {{ csrf_input }}
    <input type="submit"  value="Delete this list" class="alert button" onClick="openledger.list.deleteConfirm(event)" />
  </form>

  <div class="row">
  {% for image in object.images.all() %}
    {% set detail_url = url('detail', image.identifier) %}
    {% call image_result.show(detail_url, image, request) %}
      <form method="POST">
        <input type="hidden" name="identifier" value="{{ image.identifier }}" />
        <input type="hidden" name="slug" value="{{ object.slug }}" />
        <button class="button alert tiny fi-page-delete" title="Remove from List" alt="Remove from List" onClick="openledger.list.deleteImageFromList(event)"  />
      </form>
    {% endcall %}
  {% endfor %}
  </div>



</div>



{% endblock body %}
