
{% macro paginate_api(provider, page, pages, form) -%}
    <div class="row column text-center">
      <ul class="pagination" role="navigation" aria-label="Pagination">

        <li class="pagination-previous {{ "disabled" if page == 1 else ""}}">
          {% if page > 1 %}
            <a aria-label="Previous page" href="{{ url_with_form('by-provider', form, args=[provider], kwargs={'page': form.cleaned_data.page - 1, 'providers': [provider]}) }}">Previous</a>
          {% else %}
            Previous
          {% endif %}
        </li>

        <li class="pagination-next {{ "disabled" if page >= pages else ""}}">
          {% if page < pages %}
            <a aria-label="Next page" href="{{ url_with_form('by-provider', form, args=[provider], kwargs={'page': form.cleaned_data.page + 1, 'providers': [provider]}) }}">Next</a>
          {% else %}
            Next
          {% endif %}
        </li>
      </ul>
    </div>

{%- endmacro %}

{% macro paginate_openledger(page, pages, search_data) -%}
<div class="row column text-center">
  <ul class="pagination" role="navigation" aria-label="Pagination">

    <li class="pagination-previous {{ "disabled" if page == 1 }}">
      {% if page > 1 %}
        <a aria-label="Previous page" href="{{ url('index', page=page-1, **search_data) }}">Previous</a>
      {% else %}
        Previous
      {% endif %}
    </li>

    <li class="pagination-next {{ "disabled" if page >= pages }}">
      {% if page < pages %}
      <a aria-label="Next page" href="{{ url('index', page=page+1, **search_data) }}">Next</a>
      {% else %}
        Next
      {% endif %}
    </li>
  </ul>
</div>

{%- endmacro %}
